<div *ngIf="!messageStreamService.currentFriend" class="no-friend-selected-container">
  <div>Hello, {{ auth0User.email }} </div>
  <div>Use the search bar above to search and add friends</div>
  <div>Click on a friend on the left to start conversation with them</div>
</div>
<div *ngIf="messageStreamService.currentFriend" class="friend-selected-container">

  <div class="message-stream-header">
    <p>Chat with <b>{{ messageStreamService.currentFriend.user.email }}</b></p>
  </div>

  <div class="message-stream-body" #messageStreamBody>

    <!-- MESSAGE STREAM CONTENT -->
    <div class="message-stream-body-content">
      <mat-list class="message-stream-body-content-list">
        <ng-container *ngFor="let message of messageStreamService.currentMessageStream.messages">
          <mat-list-item [ngClass]="{'message-stream-body-content-list-item' : !isAttachment(message), 'message-stream-body-content-list-item-file' : isAttachment(message) }">
            <div mat-line>
              <span class="text-message-timestamp">{{ formatDate(message.timestamp) }}</span>
              <span class="text-message-email">{{ getFriendEmail(message.senderUserId) }}</span>
              <span class="text-message-content">{{ message.content }}</span>
              <div class="message-file" *ngIf="isAttachment(message)"><img src="{{ getFileUrl(message) }}" width="300"></div>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>
  </div>

</div>

