<form class="search-form">

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Search</mat-label>
    <input type="text"
           matInput
           placeholder="type email address"
           [formControl]="searchInput"
           (keyup.enter)="search()">
    <div matSuffix>
      <mat-icon class="material-icons" *ngIf="!searching">search</mat-icon>
      <mat-progress-spinner *ngIf="searching" class="search-results-loading"
                            [diameter]="24"
                            [color]="'primary'"
                            [mode]="'indeterminate'">
      </mat-progress-spinner>
    </div>
    <mat-hint><mat-icon>info</mat-icon> press enter to search</mat-hint>
  </mat-form-field>

</form>
