<div class="chatbox-container">

  <!-- MESSAGE STREAM -->
  <div class="stream-content">
    <app-message-stream></app-message-stream>
  </div>

  <!-- MESSAGE INPUT -->
  <div class="stream-input">
    <form class="message-form">

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Message</mat-label>
        <input type="text"
               matInput
               placeholder="enter message to send here ..."
               [formControl]="messageInput"
               (keyup.enter)="sendMessage()">
        <div matSuffix class="actions">
          <mat-icon class="material-icons action" *ngIf="messageInput.enabled">videocam</mat-icon>
          <mat-icon class="material-icons action" *ngIf="messageInput.enabled" (click)="openFileUploadDialog()">attach_file</mat-icon>
        </div>
        <mat-hint *ngIf="messageInput.enabled"><mat-icon>info</mat-icon> press enter to send message</mat-hint>
      </mat-form-field>

    </form>
  </div>
</div>
