.message-form {
    .mat-form-field {
        width: 100%;
    }
}

.actions {
    display: flex;
    flex-direction: row;

    .action {
        cursor: pointer;
    }
}

.chatbox-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;

    .stream-content {
        flex-grow: 1;
        height: 90%
    }

    .stream-input {

    }
}
