@import '~@angular/material/theming';

// Add the material fonts css here directly to handle some timing issue,
// that causes the icons to randomly not load sometimes
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}



@include mat-core();

$md-palette: (
    50: #ffffff,
    100: #f8f3eb,
    200: #40bad5,
    300: #035aa6,
    400: #120136,
    500: #fcbf1e,
    600: #ff690e,
    700: #0b7b99,
    800: #212a30,
    900: #222E37,
    contrast: (
        100: #212121,
        200: #fafafa,
        300: #fafafa,
        400: #fafafa,
        500: #fafafa,
        600: #fafafa,
        700: #fafafa,
        800: #fafafa,
        900: #fafafa,
    )
);

$app-primary: mat-palette($md-palette, 900, 900, 900, 800);
$app-accent: mat-palette($md-palette, 700, 700, 700, 800);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme(
        $app-primary,
        $app-accent,
        $app-warn
);


$app-background: map-get($md-palette, 50);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
