@import 'node_modules/@angular/material/theming';

@include mat-core();

$md-palette: (
    100: #f8f3eb,
    200: #40bad5,
    300: #035aa6,
    400: #120136,
    500: #fcbf1e,
    contrast: (
        100: #212121,
        200: #fafafa,
        300: #fafafa,
        400: #fafafa,
        500: #fafafa,
    )
);

$app-primary: mat-palette($md-palette, 300, 200, 400);
$app-accent: mat-palette($md-palette, 500, 500, 500);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme(
        $app-primary,
        $app-accent,
        $app-warn
);


$app-background: map-get($md-palette, 100);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
