@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');



@include mat-core();

$md-palette: (
    50: #ffffff,
    100: #f8f3eb,
    200: #40bad5,
    300: #035aa6,
    400: #120136,
    500: #fcbf1e,
    600: #ff690e,
    700: #0b7b99,
    800: #212a30,
    900: #222E37,
    contrast: (
        100: #212121,
        200: #fafafa,
        300: #fafafa,
        400: #fafafa,
        500: #fafafa,
        600: #fafafa,
        700: #fafafa,
        800: #fafafa,
        900: #fafafa,
    )
);

$app-primary: mat-palette($md-palette, 900, 900, 900, 800);
$app-accent: mat-palette($md-palette, 700, 700, 700, 800);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme(
        $app-primary,
        $app-accent,
        $app-warn
);


$app-background: map-get($md-palette, 50);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
