<mat-list>
  <div class="header">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Friends List</mat-label>
      <input type="text"
             matInput
             placeholder="Friend List" disabled>
      <div matSuffix>

        <mat-icon class="material-icons pointer" *ngIf="!peoples.refreshing"
                  matTooltip="Refresh"
                  (click)="peoples.refreshFriends()">refresh</mat-icon>
        <mat-progress-spinner *ngIf="peoples.refreshing" class="search-results-loading"
                              [diameter]="24"
                              [color]="'primary'"
                              [mode]="'indeterminate'">
        </mat-progress-spinner>
      </div>
    </mat-form-field>
  </div>

  <div mat-subheader *ngIf="peoples.numInvites > 0">Invitation to connect</div>
  <ng-container *ngFor="let friend of peoples.friends$ | async">
    <mat-list-item *ngIf="!friend.friendship.accepted" class="friend-invite">
      <mat-icon mat-list-icon>person_add</mat-icon>
      <div mat-line>{{ friend.user.email }}</div>
      <div>
        <button mat-raised-button color="primary" (click)="addFriend(friend)"
        [disabled]="isDisabled(friend)">Accept</button>
      </div>
    </mat-list-item>
  </ng-container>

  <mat-divider *ngIf="peoples.numInvites > 0"></mat-divider>


  <div mat-subheader>Friends</div>
  <ng-container *ngFor="let friend of peoples.friends$ | async">
    <mat-list-item *ngIf="friend.friendship.accepted" class="friend" (click)="selectFriend(friend)">
      <mat-icon mat-list-icon>person</mat-icon>
      <div mat-line>{{ friend.user.email }}</div>
    </mat-list-item>
  </ng-container>

</mat-list>
