@import '../../styles/variables';

.file-upload-input {
    display: none;
}

.select-file-button {
    margin-left: 12px;
    margin-bottom: 8px;
}

.send-button {
    margin-left: 12px;
    margin-bottom: 8px;
}

.file-details {
    margin-left: 12px;
    margin-bottom: 8px;
}
