<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
    <div class="toolbar">

      <!-- toolbar left -->
      <div class="toolbar-left">
        <span>FRAMES</span>
        <span class="spacer"></span>
      </div>

      <!-- toolbar right -->
      <div class="toolbar-right">
        <span *ngIf="auth.loggedIn">
          <span *ngIf="user$ | async as user" class="user-email">{{user.email }}</span>
          <mat-icon class="material-icons logout"
                    matTooltip="Logout"
                    aria-hidden="false"(click)="auth.logout()">exit_to_app</mat-icon>
        </span>
      </div>

    </div>
  </mat-toolbar-row>
</mat-toolbar>


