@import '../styles/variables';

.app-toolbar {
    background-color: map-get($app-primary, "default");
    color: map-get($app-primary, "text");
    width: 100%;
    //height: 64px;
    vertical-align: middle;
    padding: 16px 0;
    //line-height: 32px;
}

.logo {
    position: absolute;
    height: 10%;
}

.toolbar {
    display: flex ;
    flex-direction: row;
    width: 100%;

    * {
        vertical-align: middle;
    }

    .toolbar-left {
        padding-left: 16px;
        display: flex;
        flex-grow: 1;
        flex-direction: row;
    }

    .toolbar-center {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
    }

    .toolbar-right {
        padding-right: 16px;
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
    }

    .user-email {
        text-decoration: underline;
        margin-right: 8px;
        cursor: pointer;
    }

    .logout {
        cursor: pointer;
    }

}
