<div class="app-toolbar">
  <div class="toolbar">

    <!-- toolbar left -->
    <div class="toolbar-left">
        <span>
          <span>FRAMES</span>
        </span>
    </div>

    <!-- toolbar center -->
    <div class="toolbar-center">

    </div>

    <!-- toolbar right -->
    <div class="toolbar-right">
      <span *ngIf="auth.loggedIn" [matMenuTriggerFor]="userMenu">
        <span *ngIf="user$ | async as user" class="user-email">{{user.email}}</span>
      </span>
      <span *ngIf="!auth.loggedIn">
        <mat-icon>account_circle</mat-icon>
      </span>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="auth.logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>


    </div>

  </div>
</div>


