<!--<button mat-raised-button color="primary" (click)="auth.logout()" >Logout</button>-->
<div class="dashboard">

  <!-- TOP HEADER -->
  <div class="top">

    <!-- PEOPLE LIST ON LEFT -->
    <div class="people-list">
      <app-people-list></app-people-list>
    </div>

    <!-- CONTENT ON RIGHT -->
    <div class="content">
      <div class="searcher">
        <app-search></app-search>
      </div>

      <div class="chat">
        chat content!
      </div>

    </div>

  </div>

  <!-- FOOTER -->
  <div class="footer">
    <div>FRAMES APPLICATION</div>
    <sub>An audio, video, text chat application using AWS and Angular</sub>
  </div>

</div>
